---
// src/pages/works/artwork1.astro
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { Pagination } from 'accessible-astro-components'
import PhotoSwipeGallery from '../../../components/PhotoSwipeGallery.astro'

// Get current page number from the filename (e.g., "1" for 1.astro)
const currentPage = parseInt(Astro.params.pageNumber || '10', 10)
const totalPages = 13 // Set this to the total number of pages you have
const galleryColumns = 2

// Pagination URLs
const firstPage = currentPage > 1 ? '/fr/oeuvres/1' : null
const previousPage = currentPage > 1 ? `/fr/oeuvres/${currentPage - 1}` : null
const nextPage = currentPage < totalPages ? `/fr/oeuvres/${currentPage + 1}` : null
const lastPage = currentPage < totalPages ? `/fr/oeuvres/${totalPages}` : null

const artwork = {
  title: 'L’espace de visionnement comme espace intime : Projection de photographies d’étudiantes et d’étudiants ',
  subtitle: '',
  description: `Notre relation aux plateformes passe d’abord par la construction d’un espace personnel et privé. Les plateformes demandent à celleux qui les consomment non seulement d’assister à un défilement d’images et de sons, mais aussi de développer un savoir technique et de se servir de celui-ci pour leurs besoins de divertissement et de découverte du monde.

Dans ces photographies, prises par des usagers et usagères qui ont voulu partager leur espace de visionnement maison de cinéma et de télévision, le classique téléviseur, l’écran d’ordinateur, la tablette, le téléphone ou la console de jeu deviennent les composantes d’un rituel quotidien adapté à des besoins différents. On voit bien que l’expérience de visionnement dépend d’une maîtrise individuelle des technologies et des conditions matérielles et économiques dont nous bénéficions pour avoir accès aux plateformes, qui nous permettent de nous construire un espace, tout en profitant du plaisir de se retrouver chez nous, attractive parfois bien plus puissante que de se rendre dans une salle de cinéma... et le confort de l’espace dans lequel se déroule l’expérience de visionnement prime souvent sur le contenu... `,
  images: [
    '/assets/img/lespace-de-visionnement-comme-espace-intime/1.jpg',
    '/assets/img/lespace-de-visionnement-comme-espace-intime/2.jpg',
    '/assets/img/lespace-de-visionnement-comme-espace-intime/3.jpg',
    '/assets/img/lespace-de-visionnement-comme-espace-intime/4.jpg',
    '/assets/img/lespace-de-visionnement-comme-espace-intime/5.jpg',
    '/assets/img/lespace-de-visionnement-comme-espace-intime/6.jpg',
    '/assets/img/lespace-de-visionnement-comme-espace-intime/7.jpg',
    '/assets/img/lespace-de-visionnement-comme-espace-intime/8.jpg',
    '/assets/img/lespace-de-visionnement-comme-espace-intime/9.jpg',
    '/assets/img/lespace-de-visionnement-comme-espace-intime/10.jpg',
  ],
  notes: ['Carl', 'Greta', 'Myriam', 'Philippe', 'Valérie', 'Contributrices et contributeurs anonymes'],
}
---

<DefaultLayout title={artwork.title}>
  <section class="my-16">
    <div class="container mx-auto flex gap-8">
      <!-- Left Half: Image Gallery (PhotoSwipe Gallery) -->
      <div class="flex-1 p-8">
        <PhotoSwipeGallery images={artwork.images} columns={galleryColumns} />
      </div>

      <!-- Right Half: Text Content -->
      <div class="flex-1 p-8">
        <div>
          <h1 class="mb-4 text-4xl font-bold">{artwork.title}</h1>
          <h3 class="mb-4 text-2xl font-semibold text-gray-400">{artwork.subtitle}</h3>
          <div class="whitespace-pre-wrap text-xl" set:html={artwork.description} />
        </div>
        <!-- Notes Section -->
        <section class="reference-section mt-8 border-t pt-4 text-sm text-gray-500">
          <h2 class="text-lg font-bold">Remerciements</h2>
          <ol class="list-disc pl-5">
            {
              artwork.notes.map((note, index) => (
                <li key={index} class="mt-2">
                  {note}
                </li>
              ))
            }
          </ol>
        </section>
      </div>
    </div>
  </section>

  <!-- Pagination -->
  <div class="mt-12 grid place-content-center">
    <Pagination
      firstPage={firstPage}
      previousPage={previousPage}
      nextPage={nextPage}
      lastPage={lastPage}
      currentPage={currentPage}
      totalPages={totalPages}
    />
  </div>
</DefaultLayout>
