---
// src/pages/works/artwork1.astro
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { Pagination } from 'accessible-astro-components'
import PhotoSwipeGallery from '../../../components/PhotoSwipeGallery.astro'

// Get current page number from the filename (e.g., "1" for 1.astro)
const currentPage = parseInt(Astro.params.pageNumber || '6', 10)
const totalPages = 13 // Set this to the total number of pages you have
const galleryColumns = 1

// Pagination URLs
const basePath = import.meta.env.BASE_URL // Dynamically retrieve the base path

const firstPage = currentPage > 1 ? `${basePath}fr/oeuvres/1` : null
const previousPage = currentPage > 1 ? `${basePath}fr/oeuvres/${currentPage - 1}` : null
const nextPage = currentPage < totalPages ? `${basePath}fr/oeuvres/${currentPage + 1}` : null
const lastPage = currentPage < totalPages ? `${basePath}fr/oeuvres/${totalPages}` : null

const artwork = {
  title: 'Vidéos de YouTubers',
  subtitle: 'Joyce Cimper',
  description: `Les ambiances sont des arrangements sonores mêlant divers bruits afin de recréer l’atmosphère des lieux culte d’une œuvre télévisuelle telle que les chambres des personnages principaux ou le café où ceux-ci ont coutume de se retrouver. Les extraits de dialogues, fréquents dans ces créations audio, renforcent le sentiment d’être auprès des protagonistes, d’être assez proche d’elleux pour entendre leurs conversations et y prendre part. Les ASMR roleplay permettent également de passer un temps privilégié en compagnie de ses protagonistes favoris. Les ASMRtistes incarnent dans ces créations des héros de fiction. Iels maintiennent un contact visuel avec les spectateurs/ trices en regardant l’objectif de la caméra. Iels s’adressent directement à elleux, leur posant des questions et réagissant à leurs réponses, toujours à voix basse puisque le but de l’ASMR est d’induire un état de relaxation. Ultimement, les ASMR roleplay visent autant à détendre le public qu’à lui proposer des scénarios à même de prolonger les trames narratives développées au sein de la série. Les vidéos de shifting ont, pour leur part, pour objectif d’aider chacun.e à transiter du monde du réel vers l’univers fictionnel de son choix. Des directives précises peuvent être fournies au public. La plupart des vidéos couplent, cependant, les musiques de la série à des images subliminales, permettant aux spectateurs/trices de visualiser les protagonistes avec lesquels iels interagiront ainsi que les espaces au sein desquels iels pourront vivre les aventures qu’iels souhaitent une fois la réalité qu’iels désirent atteinte.`,
  images: [`${basePath}/assets/img/videos-de-youtubers/1.jpg`, `${basePath}/assets/img/videos-de-youtubers/2.jpg`],
}
---

<DefaultLayout title={artwork.title}>
  <section class="mb-8 mt-16">
    <div class="container mx-auto">
      <!-- Two-column layout: Image Gallery and Text Content -->
      <div class="flex gap-8">
        <!-- Left Half: Image Gallery -->
        <div class="flex-1 p-8">
          <PhotoSwipeGallery images={artwork.images} columns={galleryColumns} />
        </div>

        <!-- Right Half: Text Content -->
        <div class="flex-1 p-8">
          <div>
            <h1 class="mb-4 text-4xl font-bold">{artwork.title}</h1>
            <h3 class="mb-4 text-2xl font-semibold text-gray-400">{artwork.subtitle}</h3>
            <!-- Description Text -->
            <div class="whitespace-pre-wrap text-xl" set:html={artwork.description} />
          </div>
        </div>
      </div>

      <!-- Full-width YouTube Section -->
      <div class="mt-16">
        <h3 class="mb-4 text-3xl font-semibold">Vidéos</h3>

        <!-- AMBIANCE -->
        <div class="mb-8">
          <h4 class="text-2xl font-bold">AMBIANCE</h4>
          <div class="mt-4">
            <iframe
              class="aspect-video w-full"
              src="https://www.youtube.com/embed/aKugpx4_Wi0"
              title="Ambiance - Hannibal's Office"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="mt-4">
            <iframe
              class="aspect-video w-full"
              src="https://www.youtube.com/embed/-GI5zOEO4w4"
              title="In the Impala with Sam and Dean"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
        </div>

        <!-- ASMR -->
        <div class="mb-8">
          <h4 class="text-2xl font-bold">ASMR</h4>
          <div class="mt-4">
            <iframe
              class="aspect-video w-full"
              src="https://www.youtube.com/embed/1xTYoO_Sk0U"
              title="Daryl Dixon Saves You ASMR"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="mt-4">
            <iframe
              class="aspect-video w-full"
              src="https://www.youtube.com/embed/3HGKju4kUNc"
              title="Dunder Mifflin, This is Pam!"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
        </div>

        <!-- SHIFTING -->
        <div class="mb-8">
          <h4 class="text-2xl font-bold">SHIFTING</h4>
          <div class="mt-4">
            <iframe
              class="aspect-video w-full"
              src="https://www.youtube.com/embed/OVFv4KrzQYs"
              title="SQUID GAME - Méditation guidée"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Pagination -->
  <div class="mt-4 grid place-content-center">
    <Pagination
      firstPage={firstPage}
      previousPage={previousPage}
      nextPage={nextPage}
      lastPage={lastPage}
      currentPage={currentPage}
      totalPages={totalPages}
    />
  </div>

  <div class="container">
    <div class="call-to-action mb-8 mt-8 flex flex-col items-center rounded-lg">
      <a
        href=`${import.meta.env.BASE_URL}fr/start`
        class="call-to-action-link rounded-lg p-4 text-center text-lg md:p-6"
      >
        Retourner au début de la visite</a
      >
    </div>
  </div>
</DefaultLayout>
