---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Thumbnail from '../../components/Thumbnail.astro'

const basePath = import.meta.env.BASE_URL
---

<DefaultLayout title="Home">
  <section class="my-16">
    <div class="container">
      <div class="container">
        <div class="call-to-action mb-8 mt-8 flex flex-col items-center rounded-lg">
          <a href={`${basePath}en/oeuvres/1`} class="call-to-action-link rounded-lg p-4 text-center text-lg md:p-6">
            Start the tour
          </a>
        </div>
      </div>

      <style lang="scss">
        .call-to-action {
          /* Remove background styling here */
        }

        .call-to-action-link {
          padding: 1rem; /* Adjust padding as needed */
          color: var(--neutral-900);
          font-weight: bold;
          border: 5px solid var(--secondary-300); /* Increase border thickness here */
          border-radius: 3px;
          text-decoration: none;
          width: 400px;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

          &:hover,
          &:focus {
            color: var(--neutral-100);
            background-color: var(--neutral-900);
            text-decoration: underline;
          }
        }
      </style>

      <h2 class="mb-16 text-6xl"></h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-4">
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/2`}>
              <img
                src={`${basePath}assets/img/la-fin-des-paillassons/1.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/3`}>
              <img
                src={`${basePath}assets/img/la-peur-de-la-mere-patrie/1.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/4`}>
              <img
                src={`${basePath}assets/img/scenes-du-declic/2.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/5`}>
              <img
                src={`${basePath}assets/img/communaute-balletomane-par-limage/1.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/6`}>
              <img
                src={`${basePath}assets/img/videos-de-youtubers/1.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/7`}>
              <img
                src={`${basePath}assets/img/pong/1.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/8`}>
              <img
                src={`${basePath}assets/img/les-plateformes-a-domicile/1.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/9`}>
              <img
                src={`${basePath}assets/img/la-telecommande/2.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/10`}>
              <img
                src={`${basePath}assets/img/lespace-de-visionnement-comme-espace-intime/10.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/11`}>
              <img
                src={`${basePath}assets/img/mi-papa-y-el-hombre-del-paquete/11.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/12`}>
              <img
                src={`${basePath}assets/img/art-statement-feminist-sonographies-of-situated-listening/1.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href={`${basePath}fr/oeuvres/13`}>
              <img
                src={`${basePath}assets/img/obsolescence/3.jpg`}
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
      </div>
    </div>
  </section>
</DefaultLayout>
