---
import 'photoswipe/style.css'

// Accept images and columns as props
const { images, columns } = Astro.props

// Determine the columns class based on the `columns` prop
let columnsClass = 'columns-1' // Default to 1 column
if (typeof columns === 'number' && columns >= 1 && columns <= 6) {
  columnsClass = `columns-${String(columns)}`
}
---

<div class={`${columnsClass} gap-4`} id="photoswipe-gallery">
  {
    images.map((image, index) => (
      <a key={index} href={image} class="gallery-item mb-4 inline-block w-full">
        <img src={image} alt={`Artwork ${index + 1}`} class="h-auto w-full cursor-pointer rounded-lg shadow" />
      </a>
    ))
  }
</div>

<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox'

  let lightbox

  function initializeGallery() {
    // Destroy any existing instance to avoid conflicts
    if (lightbox) {
      lightbox.destroy()
    }

    // Initialize PhotoSwipeLightbox
    lightbox = new PhotoSwipeLightbox({
      gallery: '#photoswipe-gallery',
      children: 'a',
      pswpModule: () => import('photoswipe'),
    })

    lightbox.init()

    // Set image dimensions for correct scaling
    setImageDimensions()
  }

  function setImageDimensions() {
    const galleryItems = document.querySelectorAll('#photoswipe-gallery .gallery-item')

    galleryItems.forEach((item) => {
      const img = item.querySelector('img')
      const image = new Image()
      image.src = img.src

      // Set dimensions once the image is loaded
      image.onload = () => {
        item.setAttribute('data-pswp-width', image.width)
        item.setAttribute('data-pswp-height', image.height)
      }
    })
  }

  // Initialize on page load and client-side navigation
  document.addEventListener('astro:page-load', initializeGallery)
</script>
