---
// src/pages/works/artwork1.astro
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { Pagination } from 'accessible-astro-components'
import PhotoSwipeGallery from '../../../components/PhotoSwipeGallery.astro'

// Get current page number from the filename (e.g., "1" for 1.astro)
const currentPage = parseInt(Astro.params.pageNumber || '11', 10)
const totalPages = 13 // Set this to the total number of pages you have
const galleryColumns = 2

// Pagination URLs
const basePath = import.meta.env.BASE_URL // Dynamically retrieve the base path

const firstPage = currentPage > 1 ? `${basePath}en/oeuvres/1` : null
const previousPage = currentPage > 1 ? `${basePath}en/oeuvres/${currentPage - 1}` : null
const nextPage = currentPage < totalPages ? `${basePath}en/oeuvres/${currentPage + 1}` : null
const lastPage = currentPage < totalPages ? `${basePath}en/oeuvres/${totalPages}` : null

const artwork = {
  title: 'Mi papá y el hombre del paquete 10 vignettes, 46 x 46 cm each, black and white',
  subtitle: 'Darién Sánchez',
  description: `Darien Sánchez’s vignettes offer critical reflections on situations that arise from everyday life experiences in Cuba. This time, he focuses on the distribution, contents, and reception of El Paquete Semanal (The Weekly Package) in Cuba: an alternative way of circulating information in a context where access to the Internet is still complex. It was only recently that Cuba witnessed a shift towards greater access to mobile data allowing citizens to stream video. For this reason, having home Wi-Fi and Netflix accounts is still considered a privilege, and piracy has become a naturalized daily practice across the island.

Told from the perspective of the artist’s own family, these stories reflect the increasing power imbalance and the challenges of the digital gap in contemporary Cuba. My Dad and The Package Guy’s intermedial nature connects the Instagram vignette to contemporary films and TV series. Humour is a political tool in the artist’s work, and the domestic space often represents conflicts between different generations living in a changed country where the utopia of the revolution has shifted dramatically.

A designer, animator, and visual artist, Sánchez uses Instagram as the main platform to promote his creative practice. His digital content is also available on networks such as Giphy and Canva.

@dariensanchez_ giphy.com/darienson canva.com/p/dariensan/`,
  images: [
    `${basePath}assets/img/mi-papa-y-el-hombre-del-paquete/1.png`,
    `${basePath}assets/img/mi-papa-y-el-hombre-del-paquete/2.png`,
    `${basePath}assets/img/mi-papa-y-el-hombre-del-paquete/3.png`,
    `${basePath}assets/img/mi-papa-y-el-hombre-del-paquete/4.png`,
    `${basePath}assets/img/mi-papa-y-el-hombre-del-paquete/5.png`,
    `${basePath}assets/img/mi-papa-y-el-hombre-del-paquete/6.png`,
    `${basePath}assets/img/mi-papa-y-el-hombre-del-paquete/7.png`,
    `${basePath}assets/img/mi-papa-y-el-hombre-del-paquete/8.png`,
    `${basePath}assets/img/mi-papa-y-el-hombre-del-paquete/9.png`,
    `${basePath}assets/img/mi-papa-y-el-hombre-del-paquete/10.png`,
  ],
}
---

<DefaultLayout title={artwork.title}>
  <section class="my-16">
    <div class="container mx-auto flex gap-8">
      <!-- Left Half: Image Gallery (PhotoSwipe Gallery) -->
      <div class="flex-1 p-8">
        <PhotoSwipeGallery images={artwork.images} columns={galleryColumns} />
      </div>

      <!-- Right Half: Text Content -->
      <div class="flex-1 p-8">
        <div>
          <h1 class="mb-4 text-4xl font-bold">{artwork.title}</h1>
          <h3 class="mb-4 text-2xl font-semibold text-gray-400">{artwork.subtitle}</h3>
          <div class="whitespace-pre-wrap text-xl" set:html={artwork.description} />
        </div>
      </div>
    </div>
  </section>

  <!-- Pagination -->
  <div class="mt-12 grid place-content-center">
    <Pagination
      firstPage={firstPage}
      previousPage={previousPage}
      nextPage={nextPage}
      lastPage={lastPage}
      currentPage={currentPage}
      totalPages={totalPages}
    />
  </div>
</DefaultLayout>
