---
// src/pages/works/artwork1.astro
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { Pagination } from 'accessible-astro-components'
import PhotoSwipeGallery from '../../../components/PhotoSwipeGallery.astro'

// Get current page number from the filename (e.g., "1" for 1.astro)
const currentPage = parseInt(Astro.params.pageNumber || '13', 10)
const totalPages = 13 // Set this to the total number of pages you have
const galleryColumns = 1

// Pagination URLs
const basePath = import.meta.env.BASE_URL // Dynamically retrieve the base path

const firstPage = currentPage > 1 ? `${basePath}en/oeuvres/1` : null
const previousPage = currentPage > 1 ? `${basePath}en/oeuvres/${currentPage - 1}` : null
const nextPage = currentPage < totalPages ? `${basePath}en/oeuvres/${currentPage + 1}` : null
const lastPage = currentPage < totalPages ? `${basePath}en/oeuvres/${totalPages}` : null

const artwork = {
  title: 'Obsolescence',
  subtitle: 'Kai Sen Trieu & Mathieu Simard',
  description: `A product, system, or service is considered obsolete when its useful life is shortened in any way compared to what it could be. Obsolescence, often used as a sales strategy, is a true environmental burden, creating millions of tons of avoidable waste. Designers who create products and companies that manufacture them bear significant responsibility, but as consumers, we also have a role to play. When purchasing new products, it is crucial to check the product's durability, ensure we are buying something we will still use in several years, and that its aesthetic will last. Electronic products that allow for the replacement of defective or lower-performing parts should be prioritized.

<b>Material Obsolescence</b>
When a product or one of its parts is made with low-quality materials or poor design, causing it to break before other components or prematurely.

<b>Economic Obsolescence</b>
When it is more profitable for the consumer to replace a product rather than repair it.

<b>Psychological Obsolescence</b>
The rapid shift in models or technologies pushes buyers to constantly seek the latest model to stay up-to-date with the latest trend.

<b>Functional Obsolescence</b>
The rapid introduction of new technologies makes newer product models much more appealing and encourages consumers to replace products before the end of their useful life. This is especially common with electronics like cell phones.

<b>Systemic Obsolescence</b>
Major system changes can render a product or technology unusable. This includes systems that slow down due to substantial updates or new components that are no longer compatible with previous generations.

Obsolescence, often used as a sales strategy, is a true scourge for the environment, creating millions of tons of waste that could be avoided. Designers who create products and the companies that produce them bear significant responsibility, but as consumers, we also have a role to play. When purchasing new products, it is essential to check their durability, ensure that we are buying something we will still use in several years, and confirm that its design will remain timeless. Electronic products that allow for the replacement of defective or less efficient parts should be prioritized.`,
  images: [
    `${basePath}/assets/img/obsolescence/1.jpg`,
    `${basePath}/assets/img/obsolescence/2.jpg`,
    `${basePath}/assets/img/obsolescence/3.jpg`,
    `${basePath}/assets/img/obsolescence/4.png`,
  ],
  notes: [
    'Guiltinan, J. Creative Destruction and Destructive Creations: Environmental Ethics and Planned Obsolescence. J Bus Ethics 89 (Suppl 1), 19–28 (2009). https://doi.org/10.1007/s10551- 008-9907-9',
    'Penty, J. (2019). Product Design and Sustainability: Strategies, Tools and Practice (1st ed.). Routledge. https://doi.org/10.4324/9780203732076',
    'Rivera, J., Lallmahomed, A. (2016) Environmental implications of planned obsolescence and product lifetime: a literature review. International Journal of Sustainable Engineering vol.9 no.2. 119-129. DOI: 10.1080/19397038.2015.1099757',
  ],
}
---

<DefaultLayout title={artwork.title}>
  <section class="mb-8 mt-16">
    <div class="container mx-auto flex gap-8">
      <!-- Left Half: Image Gallery (PhotoSwipe Gallery) -->
      <div class="flex-1 p-8">
        <PhotoSwipeGallery images={artwork.images} columns={galleryColumns} />
      </div>

      <!-- Right Half: Text Content -->
      <div class="flex-1 p-8">
        <div>
          <h1 class="mb-4 text-4xl font-bold">{artwork.title}</h1>
          <h3 class="mb-4 text-2xl font-semibold text-gray-400">{artwork.subtitle}</h3>
          <div class="whitespace-pre-wrap text-xl" set:html={artwork.description} />
        </div>

        <!-- Notes Section -->
        <section class="reference-section mt-8 border-t pt-4 text-sm text-gray-500">
          <h2 class="text-lg font-bold">References</h2>
          <ol class="list-decimal pl-5">
            {
              artwork.notes.map((note, index) => (
                <li key={index} class="mt-2">
                  {note}
                </li>
              ))
            }
          </ol>
        </section>
      </div>
    </div>
  </section>

  <!-- Pagination -->
  <div class="mt-4 grid place-content-center">
    <Pagination
      firstPage={firstPage}
      previousPage={previousPage}
      nextPage={nextPage}
      lastPage={lastPage}
      currentPage={currentPage}
      totalPages={totalPages}
    />
  </div>

  <div class="container">
    <div class="call-to-action mb-8 mt-8 flex flex-col items-center rounded-lg">
      <a
        href=`${import.meta.env.BASE_URL}en/start`
        class="call-to-action-link rounded-lg p-4 text-center text-lg md:p-6"
      >
        Return to the beginning of the tour</a
      >
    </div>
  </div>
</DefaultLayout>
