---
// src/pages/works/artwork1.astro
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { Pagination } from 'accessible-astro-components'
import PhotoSwipeGallery from '../../../components/PhotoSwipeGallery.astro'

// Get current page number from the filename (e.g., "1" for 1.astro)
const currentPage = parseInt(Astro.params.pageNumber || '4', 10)
const totalPages = 13 // Set this to the total number of pages you have
const galleryColumns = 1

// Pagination URLs
const basePath = import.meta.env.BASE_URL // Dynamically retrieve the base path

const firstPage = currentPage > 1 ? `${basePath}en/oeuvres/1` : null
const previousPage = currentPage > 1 ? `${basePath}en/oeuvres/${currentPage - 1}` : null
const nextPage = currentPage < totalPages ? `${basePath}en/oeuvres/${currentPage + 1}` : null
const lastPage = currentPage < totalPages ? `${basePath}en/oeuvres/${totalPages}` : null

const artwork = {
  title: 'Scènes du déclic',
  subtitle: `Christine Thoër et Katharina Niemeyer`,
  description: `« Yeah. Because (this scene from Vampire Diaries) really got to me." (Mitch, 25 years old)

Sometimes, series include stories or dialogues that resonate with us, reflecting our lives, our past, or our desired future. Certain scenes spark something within us, subtly or directly embedding themselves in our daily lives and later in our memories and life stories. As part of the Experiences of Series and Identity Construction project, funded by the Social Sciences and Humanities Research Council of Canada (SSHRC), a research team from UQAM sought to understand the role young adults (18-25 years old) attribute to their experience of series in their identity-building process, focusing particularly on their narrative and aesthetic aspects. This is an encounter between the fictional world and the audience's reception; a moment of spark: a scene that triggers something, a scene often re-watched and sometimes comforting, but always a scene that leaves a mark and embeds itself in personal storytelling.

This installation invites you to dive into the spark moments of several interviewees, whose original voices you will hear. Their names have been changed, and the tone of their voices has been slightly modified to preserve their anonymity.

Scènes du déclic: <a href="https://series.uqam.ca/exposition/">https://series.uqam.ca/exposition/</a>`,
  images: [`${basePath}assets/img/scenes-du-declic/1.jpg`, `${basePath}assets/img/scenes-du-declic/2.jpg`],
  notes: [
    'Design and research: Christine Thoër and Katharina Niemeyer',
    'Sound editing: Ezra Teboul',
    'Team: Sarah Blémur, Celina van Dembroucke, Chloé Charrette-Lalonde, Dimitra Laurence Larochelle, Catherine Montgomery, Ludovik Roy.',
  ],
}
---

<DefaultLayout title={artwork.title}>
  <section class="my-16">
    <div class="container mx-auto flex gap-8">
      <!-- Left Half: Image Gallery (PhotoSwipe Gallery) -->
      <div class="flex-1 p-8">
        <PhotoSwipeGallery images={artwork.images} columns={galleryColumns} />
      </div>

      <!-- Right Half: Text Content -->
      <div class="flex-1 p-8">
        <div>
          <h1 class="mb-4 text-4xl font-bold">{artwork.title}</h1>
          <div class="mb-4 text-2xl font-semibold text-gray-400" set:html={artwork.subtitle} />
          <div class="whitespace-pre-wrap text-xl" set:html={artwork.description} />
        </div>

        <!-- Notes Section -->
        <section class="reference-section mt-8 border-t pt-4 text-sm text-gray-500">
          <h2 class="text-lg font-bold">Notes</h2>
          <ol class="list-disc pl-5">
            {
              artwork.notes.map((note, index) => (
                <li key={index} class="mt-2">
                  {note}
                </li>
              ))
            }
          </ol>
        </section>
      </div>
    </div>
  </section>

  <!-- Pagination -->
  <div class="mt-12 grid place-content-center">
    <Pagination
      firstPage={firstPage}
      previousPage={previousPage}
      nextPage={nextPage}
      lastPage={lastPage}
      currentPage={currentPage}
      totalPages={totalPages}
    />
  </div>
</DefaultLayout>
