---
// src/pages/works/artwork1.astro
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { Pagination } from 'accessible-astro-components'
import PhotoSwipeGallery from '../../../components/PhotoSwipeGallery.astro'

// Get current page number from the filename (e.g., "1" for 1.astro)
const currentPage = parseInt(Astro.params.pageNumber || '5', 10)
const totalPages = 13 // Set this to the total number of pages you have
const galleryColumns = 2

// Pagination URLs
const basePath = import.meta.env.BASE_URL // Dynamically retrieve the base path

const firstPage = currentPage > 1 ? `${basePath}en/oeuvres/1` : null
const previousPage = currentPage > 1 ? `${basePath}en/oeuvres/${currentPage - 1}` : null
const nextPage = currentPage < totalPages ? `${basePath}en/oeuvres/${currentPage + 1}` : null
const lastPage = currentPage < totalPages ? `${basePath}en/oeuvres/${totalPages}` : null

const artwork = {
  title: 'Communauté balletomane par l’image. Narration des identités des balletomanes sur Instagram',
  subtitle: 'Marie-Caroline Neuvillers-Prudhon et Gaëtan Rivière',
  description: `Based on ongoing research on the digital and creative practices of ballet enthusiasts on Instagram, this project gathers 1,452 photographs from 11 accounts dedicated to the world of ballet and classical dance. Arranged in a mosaic format, these images represent digital pantheons, created by those who often update their accounts daily. The platform thus becomes a means to showcase their knowledge of the aesthetic and symbolic codes and norms of their community, as well as a way to construct a narrative of their identity within a process of digital creativity.`,
  images: [
    `${basePath}assets/img/communaute-balletomane-par-limage/1.jpg`,
    `${basePath}assets/img/communaute-balletomane-par-limage/2.jpg`,
    `${basePath}assets/img/communaute-balletomane-par-limage/3.jpg`,
  ],
}
---

<DefaultLayout title={artwork.title}>
  <section class="my-16">
    <div class="container mx-auto flex gap-8">
      <!-- Left Half: Image Gallery (PhotoSwipe Gallery) -->
      <div class="flex-1 p-8">
        <PhotoSwipeGallery images={artwork.images} columns={galleryColumns} />
      </div>

      <!-- Right Half: Text Content -->
      <div class="flex-1 p-8">
        <div>
          <h1 class="mb-4 text-4xl font-bold">{artwork.title}</h1>
          <h3 class="mb-4 text-2xl font-semibold text-gray-400">{artwork.subtitle}</h3>
          <div class="whitespace-pre-wrap text-xl" set:html={artwork.description} />
        </div>
      </div>
    </div>
  </section>

  <!-- Pagination -->
  <div class="mt-12 grid place-content-center">
    <Pagination
      firstPage={firstPage}
      previousPage={previousPage}
      nextPage={nextPage}
      lastPage={lastPage}
      currentPage={currentPage}
      totalPages={totalPages}
    />
  </div>
</DefaultLayout>
